/*!
*   Copyright © 2021,2022 IsardVDI S.L.
*
*   This file is part of DD
*
*   DD is free software: you can redistribute it and/or modify
*   it under the terms of the GNU Affero General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or (at your
*   option) any later version.
*
*   DD is distributed in the hope that it will be useful, but WITHOUT ANY
*   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
*   FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
*   details.
*
*   You should have received a copy of the GNU Affero General Public License
*   along with DD. If not, see <https://www.gnu.org/licenses/>.
*
* SPDX-License-Identifier: AGPL-3.0-or-later
*/
@font-face {
    font-family: 'LeagueSpartan';
    src: url('fonts/LeagueSpartan-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LeagueSpartan Bold';
    src: url('fonts/LeagueSpartan-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LeagueSpartan Light';
    src: url('fonts/LeagueSpartan-Light.ttf');
    font-weight: normal;
    font-style: normal;
  }
body {
  font-family: 'LeagueSpartan', sans-serif;
  color: #3b3e47;
  background: #3b3e47
}

.dataTables_filter {float: left; position: absolute;}
.dataTables_filter input { max-width:90px;}

.roundbox{border-radius:4px;border:1px solid #AAAAAA;}

  .blink {
      animation: blink 2s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }

.pnotify-center {
   right: calc(50% - 150px) !important;
}

.ui-select-match-text{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}
.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}


.fancytree-plain span.fancytree-selected span.fancytree-title {
  background-color: yellow;
  color: black;
}

.fancytree-plain span.fancytree-active span.fancytree-title {
  background-color: blue;
  color: white;
}

.quota-form-input {
  width: 100% !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * Workaround to fix select2 placeholder cut off
 * https://github.com/select2/select2/issues/291
 * https://github.com/kartik-v/yii2-widgets/issues/324
 */
.select2-search, .select2-search__field {
  width: 100% !important;
}

table.dataTable td.details-show > button > i:before,
table.dataTable td.details-control > button > i:before {
	content: '\f067';
	font-family: FontAwesome;
	cursor: pointer;
	color: white;
}

table.dataTable tr.shown td.details-show > button > i:before,
table.dataTable tr.shown td.details-control > button > i:before {
	content: '\f068';
	color: white;
}

.howto-desktops {
  background-color:rgb(238, 238, 238);
  cursor: pointer;
  padding: 5px 17px;
}

.x_title h4, h3 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.x_panel {
  border: none
}

/* Sidebar */

.sidebar-footer {
  background: #3b3e47;
}

#menu_toggle {
  color: #3b3e47;
}

.logo_white {
  filter: invert(1);
}

.left_col {
  background: #3b3e47;
}

.nav.side-menu>li.active>a {
  background: #3b3e47;
}

.nav_title {
  background: #3b3e47;
}

.nav_menu {
  padding: 10px;
  background: white;
  height: 75px;
  max-height: 75px;
}

.nav_menu_logo {
  margin-top: 5px;
  width: 100;
  height: 45px;
}
/* login 
.login-page {
  background: #FFF;
}
.login {
  padding-top: 5%;
  margin: 0 auto;
}
.login_form {
  position: relative;
}*/
.login {
  background: #FFF;
}
.login_form {
  position: relative;
}
/* Footer */
footer#page-footer {
  background-color: white!important;
  padding: 50px;
  border-top: 1px solid #262626;
  display: flex;
  align-items: center;
  font-family: 'PFHandbookProRegular';
  justify-content: center;
}

footer#page-footer img {
  max-width: none;
}

footer#page-footer .container2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #343a40;
  max-width: 1280px;
}

footer#page-footer .container2 a {
  color:  #343a40;
}

footer#page-footer img.footer-desc-logo-img {
  height: 120px;
}

footer#page-footer img.footer-desc-img {
  height: 53px;
}

footer#page-footer .footer-desc-text {
  margin-left: 14px;
}

footer#page-footer p.footer-desc-par {
  font-size: 16px;
  line-height: 15px;
  margin-top: 10px;
  color: #707070;
}

footer#page-footer .footer-desc {
  display: flex;
  flex-direction: row;
}

footer#page-footer .footer-desc-comma {
  display: flex;
  justify-content: unset;
  align-items: flex-end;
}

footer#page-footer img.footer-desc-logo-comma {
  position: relative;
  height: 35px;
  width: 35px;
  
}

footer#page-footer .footer-links {
  font-family: 'PFHandbookProMedium';
  font-size: 20px;
  margin-left: 30px;
  min-width: 450px;
}

footer#page-footer img.footer-desc-logo-comma-bullet {
  margin-right: 10px;
  position: relative;
  top: -1px;
}

footer#page-footer .footer-links-policies {
  font-family: 'PFHandbookProLight';
  padding-left: 23px;
  padding-top: 14px;
  color: #AEAEAE !important;
}

footer#page-footer .footer-links-policies a {
  color: #AEAEAE !important;
  font-size: 18px;
}

@media (max-width: 1280px) {
  footer#page-footer .container2 {
      flex-direction: column;
      max-width: inherit;
  }
  footer#page-footer .footer-links {
      margin-top: 30px;
  }
}
@media (min-width: 992px) {
  footer {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .footer-links-item {
      margin: 0 55px;
  }
  footer#page-footer img.footer-desc-logo-img {
      height: 80px;
  }
  footer#page-footer .footer-links-policies {
      text-align: center;
      padding: 0;
      margin-top: 20px;
      padding-right: 20px;
  }
}
