[data-action="onlyofficeDocxf"]{
    display: none !important;
}

header#header a#nextcloud {
    margin-left: 0;
}
body#body-user header#header {
    background-image: none !important;
}
header#header #navbar-nextcloud #unified-search span.material-design-icon,
header#header #navbar-nextcloud #notifications  .header-menu__trigger {
    filter: invert();
}
.newFileMenu > ul:nth-child(1) > li:nth-child(3) {
    	order: 1;
    }
    
    #user-menu div.avatardiv {
    	width: 39px;
    	height: 39px;
    }
    .avatardiv__user-status {
    	display: none;
    }
    
    #header .header-right>div>.menu:after {
    	display:none;
    }
    .ddicon {
    	position: relative;
    	left: 8px;
    	top: 9px;
    }
    .ddiconcontainer {
    	margin-right: 16px;
    	width: 36px;
    	height: 36px;
    	background-color: #f0f0f0;
    	position: relative;
    	border-radius: 5px;
    	left: -7px;
    }
    
    #notifications {
    	display: flex;
    	align-items: center;
    }
    
    
    #notifications .header-menu__trigger,
    #contactsmenu .contacts-icon {
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: 20px 20px;
    	width: 36px;
    	height: 36px;
    }
    
    #notifications .header-menu__trigger {
    	background-image: url('./img/notifications.svg');
    	background-color: #0f0f0f;
    }
    
    #notifications .header-menu__trigger,
    #dd-megamenu,
    #dd-user-menu {
    	display: flex;
    	align-self: center;
    	justify-self: center;
    	align-items: center;
    	justify-content: center;
    }
    
    #contactsmenu .contacts-icon {
        background-image: var(--original-icon-contacts-dark);
    	background-color: #f0f0f0;
    }
    
    #notifications .material-design-icon__svg,
    #contactsmenu .contacts-icon .material-design-icon__svg {
    	display: none;
    }
    
    #dd-user-menu {
    	width: 50px;
    	height: 50px;
    }
    #dd-user-menu-button {
    	width: 39px;
    	height: 39px;
    }
    #dd-user-menu-dropdown ul {
        min-width: 150px;
        padding: 1em;
        background-color: #FFF;
        border: 1px solid #ccc;
        border-radius: 0.5em;
        position: relative;
        right: 6em;
        top: -0.3em;
    }
    #dd-user-menu-dropdown ul li {
        padding: 1em 0;
        border-bottom: 1px solid #ccc;
    }
    
    #dd-user-menu-dropdown ul li:nth-child(1) {
        padding-top: 0;
    }
    #dd-user-menu-dropdown ul li[data-id="logout"] {
        border-bottom: none;
        padding-bottom: 0;
    }
    #dd-user-menu-dropdown ul li a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }